---

---

<section
  id="hero"
  class="relative min-h-screen flex items-center pt-24 overflow-hidden bg-surface"
>
  <div
    class="absolute inset-0 z-0 pointer-events-none bg-[url('/fondo-hero.webp')] bg-cover bg-center bg-no-repeat"
  >
    <div
      class="absolute inset-0 bg-[radial-gradient(var(--color-primary)_1px,transparent_1px)] bg-size-[40px_40px] opacity-[0.05]"
    >
    </div>
    <div
      class="absolute top-1/4 -left-32 w-96 h-96 bg-primary/10 rounded-full blur-[100px] animate-[pulse_6s_ease-in-out_infinite]"
    >
    </div>
    <div
      class="absolute bottom-1/4 -right-32 w-160 h-160 bg-secondary/10 rounded-full blur-[120px] animate-[pulse_8s_ease-in-out_infinite_alternate]"
    >
    </div>
  </div>

  <div
    class="container mx-auto px-6 lg:px-12 relative z-10 flex flex-col items-center text-center"
  >
    <div class="max-w-4xl flex flex-col items-center animate-on-scroll">
      <span
        class="inline-block bg-primary/10 text-primary px-4 py-1.5 rounded-full text-[10px] md:text-xs font-bold tracking-widest uppercase mb-6"
      >
        Agencia de Servicios TI
      </span>
      <h1
        class="text-5xl md:text-7xl lg:text-8xl font-extrabold text-base-content leading-[1.05] tracking-tighter mb-8"
      >
        Soluciones de alto nivel
        <span
          class="bg-gradient-to-r from-[#3d525b] to-[#668a9a] bg-clip-text text-transparent pr-2 inline-block"
        >
          a tu alcance.</span
        >
      </h1>
      <p
        class="text-base md:text-xl text-base-content/70 max-w-2xl leading-relaxed mb-12 font-medium"
      >
        Impulsa tu pyme o startup con desarrollo de software a medida.
        Combinamos diseño atractivo y tecnología escalable ajustados a tu
        presupuesto.
      </p>
      <div class="flex flex-wrap justify-center gap-6">
        <a
          href="#contact"
          class="relative group bg-secondary text-white px-6 md:px-10 py-3 md:py-5 rounded-xl text-base md:text-lg font-bold shadow-2xl hover:scale-105 transition-transform"
        >
          <span class="relative z-10">Cotizar Proyectos</span>
        </a>
        <a
          href="#services"
          class="relative group bg-white border border-base-300 hover:border-transparent px-6 md:px-10 py-3 md:py-5 rounded-xl text-base md:text-lg font-bold transition-all duration-500 text-secondary"
        >
          <div
            class="absolute inset-0 rounded-xl opacity-0 group-hover:opacity-100 transition-opacity duration-500 pointer-events-none"
            style="padding:2px;background:linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));-webkit-mask:linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);-webkit-mask-composite:xor;mask-composite:exclude"
          >
          </div>

          <span class="relative z-10">Conocer Servicios</span>
        </a>
      </div>
    </div>
  </div>
</section>
